.Nav { 
    
    font-size: 20px;
    background: rgb(149, 196, 155); 
    padding: 20px; 

    .hamburger {
            
            width: 30px;
            height: 30px;
            
            position: absolute;
            right: 20px;
            top: 20px;
            color: rgb(156, 33, 33);

            
            display: block;
            
            svg {
                width: 100%;
                height: auto;
            }
            &:hover {
                color: rgb(13, 224, 76);
            }
            
    }                                           
    .link {
            background-color: rgb(250, 250, 147);
            text-align: center;
        
        a {
                background-color: purple;
                color: white;
                
                display: block;
                padding: 20px;
                border-radius: 5px;
                margin: 10px;

                text-decoration: none;
                text-transform: uppercase;

                border: solid 5px rgb(9, 80, 15);

                transition: all 1s;

                &:hover {
                    border: solid 5px black;
                    background-color: rgb(238, 6, 6);
            } 
            &.active {
                background-color: teal;
            }
        }
    }
}
@media screen and (min-width: 600px){
    .Nav {
        background-color: rgb(124, 223, 129);        
        .hamburger {
            display: none;
        }
        .link {
            a {
                display: inline-block;
            }
        }
    }
}
@media screen and (min-width: 800px){
    .Nav {
        background-color: rgb(122, 162, 162);   
        .hamburger {
            font-size: 40px;
        }
    }
}
